@font-face {
    font-family: 'FontAwesome';
    src: url('http://fortawesome.github.com/Font-Awesome/assets/font/fontawesome-webfont.eot?v=3.0.1');
    src: url('http://fortawesome.github.com/Font-Awesome/assets/font/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
      url('http://fortawesome.github.com/Font-Awesome/assets/font/fontawesome-webfont.woff?v=3.0.1') format('woff'),
      url('http://fortawesome.github.com/Font-Awesome/assets/font/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

select {
    border-radius: 5px;
    background: $white;
    cursor: pointer;
    // width: 90px;

    &:hover {
        // transform: scale(1.05)
        border: 1px solid $primary;
        background: $primary;
        color: $white;
    }

}

// .small::after {
//     content: " - Remember this";
//     background-color: yellow;
//     color: red;
//     font-weight: bold;
//   }

select.small {
    border: 1px solid $grey;
    min-width: auto;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0;
    margin-left: 0.5rem;
    // padding-right: 25px;


    // &:after {
    //     content: '\f005 ds';
    //     position: absolute;
    //     top: -0.7em;
    //     left: 50%;
        
    //     margin-left: -0.5em;
    //     padding: 0 0.25em;
        
    //     background-color: #fff;
        
    //     font-family: 'Arial';
    //     font-weight: normal;
    //     font-style: normal;
    // }

}